__pycache__/
*.so
*~
build/*
docs/build/*
tc/proto/*.py
tc/proto/*.cc
tc/proto/*.h
third-party/*_cache
third-party/llvm_sources*
third-party-install/*
buck-out
.buckd
.pytest_cache
conda
.nfs*
*/.nfs*
tensor_comprehensions.egg-info/
tensor_comprehensions/version.py
tensor_comprehensions/*.proto
slurm-*
examples/results*
*.pyc
test_python/tc_test/*
