__pycache__/
*.so
*~
build/*
docs/build/*
third-party/*_cache
third-party/llvm_sources*
third-party-install/*
buck-out
.buckd
.pytest_cache
conda
.nfs*
*/.nfs*
tensor_comprehensions.egg-info/
tensor_comprehensions/version.py
slurm-*
examples/results*
*.pyc
test_python/tc_test/*
install
tc/benchmarks/results*
